.header {
  width: 100%;
  background-color: violet;
  display: flex;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 16px;
  color: white;
  .header__icon {
    padding-right: 10px;
    cursor: pointer;
  }

}
