.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.expensas {
  margin: 20px 0;
  list-style-type: none;
  padding: 0 20px;
  //width: 15em;
}
.expense {
  cursor: pointer;
  position: relative;
  left: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.expensas .text {
  position: relative;
  top: -3px;
}
