<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
  <link href="../assets/fontawesome-all.css" rel="stylesheet" />
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">-->

</head>


<div id="wrap-centered">
  <i class="fas fa-check"></i>
  <i class="far fa-user"></i>
  <!--brand icon-->
  <i class="fab fa-github-square"></i>
  <app-header></app-header>
  <app-dates></app-dates>
  <app-expenses></app-expenses>
  <!--<ngbd-dropdown-basic></ngbd-dropdown-basic>-->
</div>

